<template>
    <div>
        <h1>The User Page</h1>
        <hr>
        <button @click="navHome" class="btn btn-primary">Go to Home</button>
        <hr>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    // data() {
    //     return {
    //         id: this.$route.params.id
    //     }
    // },
    // props: {
    //     id: {
    //         type: String,
    //         default: "none selected"
    //     }
    // },
    methods: {
        navHome() {
            console.log('navHome');
            this.$router.push('/');
        }
    },
    // watch: {
    //     '$route'(to, from) {
    //         this.id = to.params.id;
    //     }
    // }
}
</script>