body {
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.newCssStyle{
    color:blue;
}

.fade-enter {
    /* this class active for only one frame to give an initial state from which to transition */
    opacity: 0;
}

.fade-enter-active {
    transition: opacity .2s;
}

.fade-leave {
    /* opacity: 1; */
}

.fade-leave-active {
        transition: opacity .2s;
        opacity: 0;
}

.slide-enter {
/* transform: translateY(20px); */
opacity: 0;
}

.slide-enter-active {
    animation: slide-in 1s ease-out forwards;
    transition: opacity 0.5s;
}

.slide-leave {

}

.slide-leave-active {
animation: slide-out 1s ease-out forwards;
transition: opacity 1s;
}

@keyframes slide-in{
    from {
        transform: translateY(20px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes slide-out{
    from {
        transform: translateY(0);
    }
    to{
        transform: translateY(20px);
    }
}