<template>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/" home>Our Important Application</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <router-link tag="li" to="/" active-class="active" exact>
                                <a>Home</a>
                            </router-link>
                            <router-link tag="li" to="/about" active-class="active">
                                <a>About</a>
                            </router-link>
                            <router-link tag="li" to="/contact" active-class="active" exact>
                                <a>Contact</a>
                            </router-link>
                            <router-link tag="li" to="/members" active-class="active">
                                <a>Member Area</a>
                            </router-link>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Account
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Log in</a>
                                    </li>
                                    <li>
                                        <a href="#">Log out</a>
                                    </li>
                                    <li>
                                        <a href="#">Account info</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                    <li>
                                        <a href="#">One more separated link</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
export default {

}
</script>
