<template>
    <!-- Modal -->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Contact Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-8 col-sm-6 contact-detail">
                        <!-- Contact Details go here -->
                        <div class="card" v-if="contactDetail">
                            <h2 class="card-header">Contact Details</h2>
                            <img class="card-img-top" style="height: auto; width: auto; display: block; margin-top: 2em;" :src="contactDetail.picture.large">
                            <div class="card-block">
                                <h3 class="card-title">{{jsUcfirst(contactDetail.name.title) + ' ' + jsUcfirst(contactDetail.name.first) + ' ' + jsUcfirst(contactDetail.name.last)}}</h3>
                                <hr>
    
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <b>Gender:</b>
                                        <br> {{jsUcfirst(contactDetail.gender)}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Address:</b>
                                        <br> {{jsUcfirst(contactDetail.location.street)}}
                                        <br> {{jsUcfirst(contactDetail.location.city) + ', ' + jsUcfirst(contactDetail.location.state) + ' ' + contactDetail.location.postcode}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Phone:</b>
                                        <br> {{contactDetail.phone}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email:</b>
                                        <br> {{contactDetail.email}}
                                    </li>
                                </ul>
    
                            </div>
                            <!-- end of card-block -->
                        </div>
                        <!-- end of card -->
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import ContactDetail from '../contact-detail/ContactDetail.vue';
export default {
    props: [
        'contactDetail'
    ],
    components: {
        // ContactDetail
    },
    methods: {
        jsUcfirst(name) {
            return name.charAt(0).toUpperCase() + name.slice(1);
        }
    }
}
</script>
